body {
  margin: 0;
}
img {
  max-height: 375px;
  max-width: 375px;
}
.more {
  margin: 1em 0;
}
figure {
  margin: 0;
}
figcaption {
  box-sizing: border-box;
  padding: 1em;
  text-align: center;
  max-width: 375px;
  margin-bottom: 0;
}
figure + p {
  box-sizing: border-box;
  margin: 0;
  background-color: #ccc;
  padding: 1em;
  max-width: 375px;
  
}
.ftop {
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 1em;
  background-color: #eee;
}
code {
  white-space: pre;
  overflow: auto;
}
pre {
  background-color: #eee;
  overflow: auto;
}
nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
nav a {
  background-color: #ccc;
  margin: .5em;
  padding: .5em;
}
.grid {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: .5px solid black;
}
.not, .part, .full, .log, .sam {
  display: flex;
  flex-direction: column;
  margin: .5em;
}
.shots {
  margin: .5em;
  position: relative;
}
.grid p {
  box-sizing: border-box;
  margin: 0;
  padding: 1em;
  max-width: 375px;
}
.top {
  background-color: #eee;
  text-align: center;
}
.mid {
  text-align: center;
}
.bot {
  background-color: #ccc;
}
.num {
  position: absolute;
  bottom: 0; left: 0;
  height: 50px; width: 50px;
  font-size: 3em;
  font-weight: bold;
  color: white;
  background-color: black;
  border-radius: 0 100% 0 0;
}
#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: rgba(0,0,0,0.9);
  justify-content: center;
  align-items: center;
  display: flex;
}
#modal img{
  width: 90%;
  max-width: 100%;
  max-height: 100%;
}



@media screen and (min-width: 500px) {
  body {
    margin: 1em;
  }
  nav {
    flex-direction: row;
    justify-content: space-between;
  }
  .grid {
    flex-direction: row;
  }
  .logs, .samples {
    flex-wrap: wrap;
  }
  .log {
    width: 30%;
  }
  .bot {
    flex-grow: 1;
  }
  .samples .bot {
    flex-grow: 0;
  }
}

/* @media print {
  p, ul, hr, nav, img, button, code, strong, .grid.samples, .grid.logs, #design, #issues {
    display: none;
  }
  h1, h2, h3, .grid.grades, .grid.grades p {
    display: block;
  }
  header h3 {
    display: none;
  }
  .grid.grades {
    display: flex;
    flex-direction: row;
  }
  .grid.grades div {
    max-width: 30%;
  }
  .grid.grades.not, .grid.grades.part, .grid.grades.full {
    display: flex;
    flex-direction: column;
  }
} */
